

 <section class="container-fluid p-4 mt-3" style="background: #F08034;">
    <p class="h4 text-white text-center title">Tablaroca, Plafón y Durock en Monterrey.</p>
</section>




<section id="productos">
    <div class="container-fluid">
        <div class="row mt-2">

            <div class="col-md-3 text-center">
                <a href="/Productos/Index?Clase=TABLEROS"><img src="./assets/img/NewIndex/tableros.jpg" class="img-fluid rounded"></a>
                <a href="/Productos/Index?Clase=TABLEROS">
                    <p class="mt-3 mb-0 h3 font-weight-bold pt-sanz-title" style="color: #001049;">Tablaroca</p>
                    <p class="h6 pt-sanz-text">La mejor variedad de tableros para interior, exterior y estructurales, asi como la original Tablaroca</p>
                </a>
            </div>
            <div class="text-center col-md-3">
                <a href="/Productos/Index?Clase=PLAFONES"><img src="./assets/img/NewIndex/plafones.jpg" class="img-fluid rounded"></a>
                <a href="/Productos/Index?Clase=PLAFONES">
                    <p class="mt-3 mb-0 h3 font-weight-bold pt-sanz-title" style="color: #001049;">Plafones</p>
                    <p class="h6 pt-sanz-text">Plafones para distintas necesidades tales cómo, estéticas, acústicas, resistencia contra moho y más.</p>
                </a>
            </div>
            <div class="text-center col-md-3">
                <a href="/Productos/Index?Clase=DUROCK"><img src="./assets/img/NewIndex/Durock.jpg" class="img-fluid rounded"></a>
                <a href="/Productos/Index?Clase=DUROCK">
                    <p class="mt-3 mb-0 h3 font-weight-bold pt-sanz-title" style="color: #001049;">Durock</p>
                    <p class="h6 pt-sanz-text">Perfiles metálicos ligeros o estructurales para completar tu proyecto.</p>
                </a>
            </div>
            <div class="text-center col-md-3">
                <a href="/Productos/Index?Clase=HERRAMIENTAS"><img src="./assets/img/NewIndex/herramienta.jpg" class="img-fluid rounded"></a>
                <a href="/Productos/Index?Clase=HERRAMIENTAS">
                    <p class="mt-3 mb-0 font-weight-bold h3 pt-sanz-title" style="color: #001049;">Herramienta</p>
                    <p class="h6 pt-sanz-text">Gran variedad de complementos y herramientas de las mejores marcas.</p>
                </a>
            </div>
        </div>
    </div>
</section>


<section class="container-fluid bg-light mt-3">
    <p class="h5 text-center mt-2 free-shipping font-weight-bold"><img src="./assets/img/NewIndex/envio.png">Envio gratis arriba de $1900...</p>
</section>

<section class="container-fluid mt-5">
    <div class="col-md-12 col-lg-12">
        <img src="./assets/img/NewIndex/USG.jpg" alt="usg" class="img-fluid rounded" style="width: 100%;">
    </div>
</section>







<section class="col-lg-12 container-fluid mt-5">
    <img src="./assets/img/NewIndex/bannerserviciomod.jpg" alt="usg" class="img-fluid rounded" style="width: 100%;">
</section>


<section class="mt-5">
    <div class="container-fluid">
        <div class="row mt-2">

            <div class="col-md-3 mt-3 presupuesto">

                <!--div inicial de presupuesto-->
                <div class="mb-3" style="max-width: 540px;" onclick="MostrarInfo('presupuesto', 'div-presupuesto')" id="div-presupuesto">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="./assets/img/NewIndex/start.png" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body text-center">
                                <h5 class="title-cards font-weight-bold mt-4">Igualamos tu Presupuesto</h5>
                            </div>
                        </div>
                    </div>
                </div>


                <!--info que se muestra al dar clic sobre el div inicial de presupuesto-->
                <div class="mb-3" style="max-width: 540px; display:none;" id="presupuesto">
                    <button type="button" onclick="CerrarInfo('presupuesto', 'div-presupuesto')" class="btn-cerrar-info h6 pt-sanz-text">X</button>
                    <div class="row container">

                        <p class="h6 pt-sanz-text container pb-5">
                            ¡Igualamos prácticamente cualquier presupuesto!
                            <br /> No decidas tu compra antes de llamarnos, queremos ser tu mejor opción.
                        </p>

                    </div>
                </div>

            </div>



            <div class="col-md-3 mt-3 servicio-domicilio">

                <!--div inicial de servicio-domicilio-->
                <div class="mb-3" style="max-width: 540px;" onclick="MostrarInfo('servicio-domicilio', 'div-servicio-domicilio')" id="div-servicio-domicilio">
                    <div class="row no-gutters">
                        <div class="col-md-3">
                            <img src="./assets/img/NewIndex/entregaasomicilio1.png" class="card-img" alt="...">
                        </div>
                        <div class="col-md-9">
                            <div class="card-body text-center">
                                <h5 class="title-cards font-weight-bold mt-4">Servicio a Domicilio el Mismo Día</h5>
                            </div>
                        </div>
                    </div>

                </div>


                <!--info que se muestra al dar clic sobre el div inicial de servcio-domicilio-->
                <div class="mb-3" style="max-width: 540px; display:none;" id="servicio-domicilio">
                    <button type="button" onclick="CerrarInfo('servicio-domicilio', 'div-servicio-domicilio')" class="btn-cerrar-info h6 pt-sanz-text">X</button>
                    <div class="row container">

                        <p class="h6 pt-sanz-text container pb-5">
                            Haz tu pedido antes de las 12:00 del medio día
                            <br /> Pedido Mínimo de $1,500.00 MN
                            <br /> Zona metropolitana de Monterrey
                            <br /> No incluye descarga
                        </p>

                    </div>
                </div>

            </div>



            <div class="col-md-3 mt-3 herramientas">

                <!--div inicial de herramientas-->
                <div class="mb-3" style="max-width: 540px;" onclick="MostrarInfo('herramientas', 'div-herramientas')" id="div-herramientas">
                    <div class="row no-gutters">
                        <div class="col-md-3">
                            <img src="./assets/img/NewIndex/herramientasesp1.png" class="card-img" alt="...">
                        </div>
                        <div class="col-md-9">
                            <div class="card-body text-center">
                                <h5 class="title-cards font-weight-bold mt-2">Herramientas especializadas para construcción ligera</h5>
                            </div>
                        </div>
                    </div>

                </div>


                <!--info que se muestra al dar clic sobre el div inicial de herramientas-->
                <div class="mb-3" style="max-width: 540px; display:none;" id="herramientas">
                    <button type="button" onclick="CerrarInfo('herramientas', 'div-herramientas')" class="btn-cerrar-info h6 pt-sanz-text">X</button>
                    <div class="row container">

                        <p class="h6 pt-sanz-text container pb-5">
                            Contamos con Gran variedad de herramienta que necesitas para tu proyecto en la
                            <br /> instalación de Tablaroca, Durock y Plafones
                        </p>

                    </div>
                </div>

            </div>



            <div class="col-md-3 mt-3 asesoria-tecnica">

                <div class="mb-3" style="max-width: 540px;" onclick="MostrarInfo('asesoria-tecnica', 'div-asesoria-tecnica')" id="div-asesoria-tecnica">
                    <div class="row no-gutters">
                        <div class="col-md-5">
                            <img src="./assets/img/NewIndex/asesoria1.png" class="card-img" alt="...">
                        </div>
                        <div class="col-md-7">
                            <div class="card-body text-center">
                                <h5 class="title-cards font-weight-bold mt-3">Asesoría Técnica</h5>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="mb-3" style="max-width: 540px; display:none;" id="asesoria-tecnica">
                    <button type="button" onclick="CerrarInfo('asesoria-tecnica', 'div-asesoria-tecnica')" class="btn-cerrar-info h6 pt-sanz-text">X</button>
                    <div class="row container">

                        <p class="h6 pt-sanz-text container pb-5">
                            Brindamos información necesaria para conocer los productos y las soluciones constructivas de los productos que comercializamos.
                            <br /> Te ayudamos con la cotización y cuantificación de tu proyecto
                            <br /> Recomendación para el uso e instalación de los productos
                            <br /> Visita a obra
                            <br /> Documentación técnica
                            <br /> Muestras de mano
                            <br /> Cursos de capacitación para tu equipo de trabajo
                        </p>

                    </div>
                </div>

            </div>

        </div>

    </div>
</section>


<section class="mt-5 container-fluid">
    <div class="col-md-6" style="border-bottom: #F08034 4px solid;">
        <h5 class="titles font-weight-bold">Plafones</h5>
    </div>
</section>


<!--carrusel-->
<app-carrusel-home></app-carrusel-home>



<section class="mt-5 container-fluid">
    <div class="col-md-6" style="border-bottom: #F08034 4px solid;">
        <h5 class="titles font-weight-bold">Sucursales</h5>
    </div>
</section>


<section id="Sucursales">
    <div class="container-fluid">
        <div class="row mt-3">
            <div class="col-md-3 text-center">
                <img src="./assets/img/Sucs/breyes-1-300x214.png" class="img-fluid rounded">
                <p class="mt-3 mb-0 h4 font-weight-bold pt-sanz-title-sucursales" style="color: #001049;">Sucursal B. Reyes</p>
                <p class="h6 pt-sanz-text">Bernardo Reyes #4242-A Nte. Col. Niño Artillero C.P. 64280. Monterrey N.L.</p>
                <p class="phone">81 8125-5400</p>
            </div>
            <div class="text-center col-md-3">
                <img src="./assets/img/Sucs/mnieto2-300x214.jpg" class="img-fluid rounded">
                <p class="mt-3 mb-0 h4 font-weight-bold pt-sanz-title-sucursales" style="color: #001049;">Sucursal Miguel Nieto</p>
                <p class="h6 pt-sanz-text">Miguel Nieto #807. Carlos Salazar esquina con Arteaga. C.P. 64000. Monterrey N.L.</p>
                <p class="phone">81 8375-7500</p>
            </div>
            <div class="text-center col-md-3">
                <img src="./assets/img/Sucs/valleWEB-300x214.jpg" class="img-fluid rounded">
                <p class="mt-3 mb-0 h4 font-weight-bold pt-sanz-title-sucursales" style="color: #001049;">Sucursal Valle</p>
                <p class="h6 pt-sanz-text">Avenida José Vasconcelos #995. Col. Del Valle C.P. 66220. San Pedro Garza García N.L.</p>
                <p class="phone">81 1972-2250</p>
            </div>
            <div class="text-center col-md-3">
                <img src="./assets/img/Sucs/lafe-1-300x214.png" class="img-fluid rounded">
                <p class="mt-3 mb-0 h4 font-weight-bold pt-sanz-title-sucursales" style="color: #001049;">Sucursal La Fe</p>
                <p class="h6 pt-sanz-text">Av. Acapulco #422 Col. La Fe. C.P. 66477. San Nicolás de los Garza N.L.</p>
                <p class="phone">81 8298-2000</p>
            </div>
        </div>
    </div>
</section>


    