<footer class="mt-5 footer fixed-bottom">
    <div class="container text-center">
        <a href="/Home/Index"><img src="./assets/img/NewIndex/logo.png" class="logo-brand mt-5 img-fluid"></a>
        <p class="mt-3 text-white">© 2020 - Plafones e Interiores | Todos los Derechos Reservados | All Rights Reserved |<a class="link-footer" href="/Home/NoticeOfPrivace"> Aviso de privacidad </a>| <a class="link-footer" href="/Home/JoinOurWorkTeam"> Unete a nuestro equipo de trabajo</a></p>
        <ul>
            <li class="mb-5 list-inline-item"><a href="https://www.facebook.com/PlafoneseInteriores" target="_blank"><img src="./assets/img/NewIndex/facebook.svg" class="img-fluid"></a></li>
            <li class="mb-5 list-inline-item"><a href="https://www.instagram.com/plafones.e.interiores/" target="_blank"><img src="./assets/img/NewIndex/instagram.svg" class="img-fluid"></a></li>
            <li class="mb-5 list-inline-item"><a href="/Home/SaveDateWhatsAppClick" target="_blank"><img src="./assets/img/NewIndex/whatsapp.svg" class="img-fluid"></a></li>
            <li class="mb-5 list-inline-item"><a href="https://www.youtube.com/user/Plafoneseinteriores" target="_blank"><img src="./assets/img/NewIndex/youtube.svg" class="img-fluid"></a></li>
            <li class="mb-5 list-inline-item"><a href="https://www.plafones.com/" target="_blank"><img src="./assets/img/NewIndex/dribbble.svg" class="img-fluid"></a></li>
        </ul>
    </div>
</footer>