

<div class="container body-content">


    <div class="containerIndex row d-flex justify-content-center mt-4">
        <h2 class="pt-sanz-title font-weight-bold">Sucursales</h2>



        <div class="container">

          


                <div class="row GridSucuralesFormSucursales pt-2 pb-2" *ngFor="let item of sucursales">

                    <h6 class="pt-sanz-title font-weight-bold">  {{item.NombreSucursalVar}} </h6>

                    <div class="row">

                        <div class="col-sm">
                        
                         <img class="img-fluid" src="{{item.RutaImagenVar.replace('~', './assets')}}" alt="Image" style="width:300px;height:300px;max-width: 100%; height: auto;" />
                            
                        </div>

                        <div class="col-sm">
                            <h6 class="pt-sanz-text"> {{item.DireccionVar}} </h6>
                        </div>

                        <div class="col-sm">
                            <h6 style="font-size: 19px; font-family: 'PT Sans', sans-serif;"> <a href="tel:+52+{{item.TelefonoVar}}">  {{item.TelefonoVar}} </a> </h6>
                        </div>

                        
                        <div class="col-sm">
                         
                                <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 200px">
                                    <iframe class="img-fluid" [src]= "item.MapaVar" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                                </div>
                           
                        </div>
                    
                    </div>

                </div>

            
        </div>

    </div>


</div>
