
<section class="container-fluid">
    <div class="row">
        <div class="col-md-4 mt-4 text-center">
            <h3 style="color: #F08034;" class="font-weight-bold mt-3">YO COMPRO Y GANO CON PLAFONES REWARDS®</h3>
            <p class="h6" style="color: #001049;">Para disfrutar del programa Plafones Rewards® solamente tienes que seguir estos tres pasos:</p>
            <img src="./assets/img/Rewards/Plafones-rewards-card-408x295.png" alt="" class="img-fluid mt-2">
        </div>
        <div class="col-md-8 mt-4 text-center">
            <img src="./assets/img/Rewards/Rewards-Proceso-y-terminos.jpg" alt="" style="border-radius: 20px;" class="img-fluid rouded-circle">
        </div>
    </div>
</section>