

<div class="container-fluid" style="background: #001049;">
    <div class="row">

        <div class="col-md-3 mt-2 mb-3 text-center">
            <a href="/Home/Index"><img src="./assets/img/NewIndex/plafon-Logo.png" class="logo-plafones img-fluid mt-1" alt="logo"></a>
        </div>

        <div class="col-md-6 text-center mt-5">
            <a class="btn text-white iconos-header" href="/Home/SaveDateWhatsAppClick" target="_blank">
                <small>
                    <img src="./assets/img/whats.png" height="40" width="40" style="object-fit:cover; margin-bottom:17px;" />
                </small>
                <h4 style="display:inline-block; margin-top:15px;"> 81 2353-2323</h4>
            </a>

            <a class="btn text-white iconos-header" href="/Home/Contact">
                <small>
                    <i class="fa fa-envelope fa-2x"></i>
                </small>
                <h4 style="display:inline-block;">Contacto</h4>
            </a>

            <a class="btn text-white iconos-header" href="tel:+528112910155">
                <small>
                    <i class="fa fa-phone fa-2x"> </i>
                </small>
                <h4 style="display:inline-block;">81 12 91 01 55</h4>

            </a>
        </div>

        <div class="col-md-3 mt-2 text-center">
            <h3 class="text-center text-white font-italic h2 mt-2" style="color: #001049;">Donde compran los Mejores <img class="" src="./assets/img/NewIndex/check.png" style="width: 20%;" /></h3>
        </div>
    </div>
</div>
