/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

.clearfix{
    clear:both;
    float:none;
}



  body *{
     margin: 0;
     padding: 0;
     overflow: hidden;
 }

